# App config
APP_PROTOCOL=http
APP_HOST=localhost
APP_PORT=5000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=courier_collection_dev
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_MIN=2
DB_POOL_MAX=10
